psiicos.sublime-project
psiicos.sublime-workspace
10SubjData.mat
ConDataBand.mat
*.mat
*.zip
ConData_theta_CT.mat_bckp
*.sublime-workspace
*.png
*.log
*.aux
*.dvi
report.pdf
report_bckp.pdf
report_350.pdf
tags
pics
*.gz
*.fls
*.fdb_latexmk
*.tar
